<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Responsive Columns</title>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<!--Plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Leaflet CSS & JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="../static/styles/style.css">

<!--Jqueary download-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--Import D3-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

</head>

<body class="all_body">
<div class="container">
 <!--Normally these medium columns go full wide on small screen sizes-->
<div class="row">
<nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#"></a> -->
                <h1 class ="latidute_text" style="font-weight:bold"><a href="/">Water Pump Project</a></h1>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Science Cycle <span class="caret"></span></a>
                <ul class="dropdown-menu">
                        <li><a href="/business">1 Define The Goal</a></li>
                        <li><a href="/getting_data">2 Get The Data</a></li>
                        <li><a href="/cleaning">3 Explore&Clean Data</a></li>
                        <li><a href="/enrich">4 Enrich The Data</a></li>
                        <li><a href="/find_insight">5 Find Insights and Visualize</a></li>
                        <li><a href="/ml">6 Deploy ML</a></li>
                </ul>
                </li>
                <li><a href="/map">Map Visualization of Data</a></li>
                
        </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
</div>   

    <div class="second_row">

        <div class="row">
                <div class="col-xs-12 col-sm-12  col-md-8 col-lg-8 main_box">
                        <h3 class="baslik">Pump it Up: Data Mining the Water Table</h3>
                        <div class="main_box_content">
                            <p class="first_p_in_summary"> Using data from Taarifa and the Tanzanian Ministry of Water, can you predict which pumps are functional, which need some repairs, and which don't work at all? This is an intermediate-level practice competition. Predict one of these three classes based on a number of variables about what kind of pump is operating, when it was installed, and how it is managed. A smart understanding of which waterpoints will fail can improve maintenance operations and ensure that clean, potable water is available to communities across Tanzania. </p>
                            <h3 class="baslik" style="text-align: center; margin-top: 10%">Data Science Project Steps</h3>
                            <img src="../static/images/data_science_project_process.png" alt="data_science_cycle" style ="height:300px">
                            <p class="second_p_in_summary" style= "margin-top: 5%">I will complete the This Data science Project in 7 Steps. These Steps are: </p>   
                            <ul>
                                        <li><a href="/business">1 Define The Goal</a></li>
                                        <li><a href="/getting_data">2 Get The Data</a></li>
                                        <li><a href="/cleaning">3 Clean The Data</a></li>
                                        <li><a href="/enrich">4 Enrich The Data</a></li>
                                        <li><a href="/find_insight">5 Find Insights and Visualize</a></li>
                                        <li><a href="/ml">6 Deploy ML</a></li>
                                        <li><a href="/ml">7 Itterate</a></li>
                            </ul>
                            <br>
                            <p style= "margin-top: 5%">I got the 7 steps and the picture at the top from Dataiku website. You can reach the website via this <a href="https://blog.dataiku.com/2019/07/04/fundamental-steps-data-project-success" target="_blank">link</a> . </p>   
                            
                            <br>
                        </div>
                </div>
                   
        
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right_box">
                        <div class= "second_box_content">
                                <h3 class="baslik">About Taarifa</h3>
                                <p class="second_p_in_summary">Taarifa is an open source platform for the crowd sourced reporting and triaging of infrastructure related issues. Think of it as a bug tracker for the real world which helps to engage citizens with their local government. We are currently working on an Innovation Project in Tanzania, with various partners. </p>   
                                <h3 class="baslik">You can learn more here:</h3>
                                <ul>
                                        <li><a href="http://taarifa.org/">Taarifa Homepage</a></li>
                                        <li><a href="https://taarifa.wordpress.com/">Taarifa Blog</a></li>
                                        <li><a href="https://github.com/taarifa">Taarifa Github</a></li>
                                </ul>
                                <img class= "pumping" src="../static/images/pumping.jpg" alt="pumping" style="margin:10%; height: 300px;">
                       </div>
                </div>
              
        </div>


    </div>

 
</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script  src="../static/js/water_pumps.js" ></script>
<script  src="../static/js/index.js" ></script>
</html>
