<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ML Page</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<body class="all_body">
<div class="container">
 <!--Normally these medium columns go full wide on small screen sizes-->
<div class="row">
<nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#"></a> -->
                <h1 class ="latidute_text" style="font-weight:bold"><a href="/">Water Pump Project</a></h1>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
                <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Science Cycle <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                                <li><a href="/business">1 Define The Goal</a></li>
                                <li><a href="/getting_data">2 Get The Data</a></li>
                                <li><a href="/cleaning">3 Explore&Clean Data</a></li>
                                <li><a href="/enrich">4 Enrich The Data</a></li>
                                <li><a href="/find_insight">5 Find Insights and Visualize</a></li>
                                <li><a href="/ml">6 Deploy ML</a></li>
                        </ul>
                        </li>
                        <li><a href="/map">Map Visualization of Data</a></li>
                        
                </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
</div>   

    <div class="second_row">

        <div class="row">
                <div class="col-xs-12 col-sm-12  col-md-8 col-lg-8 main_box">
                        <h3 class="baslik">Step 6: Mechine Learning </h3>
                        <div class="main_box_content">
                            <p class="first_p_in_summary"> After cleaning getting more insight about the data, iit is time to start Mechine learning part. I have tried 5 Different algorithm. I used Python Sklearn library. </p>
                            <h4 class="baslik" style= "margin-top: 10%">Algoritms I have used</h4>
                            <ul>
                                <li>Knn</li>
                                <li>Random Forest</li>
                                <li>Xgboost</li>
                                <li>SVC</li>

                         </ul>
                        </div>
                </div>
                   
        
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right_box">
                        <div class= "second_box_content">
                                        <img class= "pumping" src="../static/images/Best_scores.png" alt="pumping" style="margin:10%; height: 300px;">
                                </div>
                </div>
              
        </div>


        <div class="row">
                        <div class="col-xs-12 col-sm-12  col-md-8 col-lg-8 main_box">
                        <div class= "second_box_content">
                        <p class="first_p_in_summary"> After doing grid search and Hyper parametter Tunning I got the best score with the Random Forest algorithm. 80.70 is the clasification score with Random forest. I got 80.36 with Xgboost, 76.57 with Knn(k=7) and 73.86 with SVC.I used GridsearchCV  to find best parametters. </p>
                        <h5 class="baslik" style= "margin-top: 10%">After Hyper parametter Tunningusing GridsearchCV best parametters for Random Forest Model</h5>
                        <ul>
                                
                                <li>bootstrap =  True</li>
                                <li>n_estimators=1000</li>
                                <li>max_depth = 16</li>
                                <li>min_samples_split = 2</li>
                                <li>max_features=  'auto'</li>
                                <li>min_samples_leaf =  1</li>

                        </ul>

                        </div>
                        </div>
                           
                
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right_box">
                                        <div class= "second_box_content">
                                                        <img class= "pumping" src="../static/images/Kmeans_accuracy_scores.png" alt="pumping" style="margin:10%; height: 300px;">
                                               </div>
                        </div>
                      
                </div>


    </div>

 
</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
